/* 全局样式 */
body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* 导航栏样式 */
.navbar {
  position: fixed;
  top:0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color:white;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar a {
  color: rgb(40, 40, 40);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  outline: none;
}
.navbar a.router-link-active {
  color: #007BFF; /* 选中时字体颜色为蓝色 */
}
.navbar a:hover {
  background-color: #ddd;
}


/* 主容器样式 */
.main-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin-top: 180px;
  padding: 90px 100px;
}

/* 输入框样式 */
.input-field {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}
.input-field:focus {
  outline: none; /* 移除默认的聚焦外边框 */
  border: 1.5px solid #007BFF;
  /*border: 1.5px solid #007BFF;*/
}
/* 按钮样式 */
.submit-button {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  background-color: #2684ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #007afc;
}

.prompt {
  background-color: white;
  width: 100%;
  border-bottom:0.5px solid #e0e0e0 ;
  padding: 40px 20px;
  border-radius: 2px;
  cursor: pointer;
}